.intro-2 {
    background: url("https://media12.s-nbcnews.com/j/MSNBC/Components/Video/202006/tdy_news_guth_violence_200602_1920x1080.focal-760x428.jpg")no-repeat center center;
    background-size: cover;
}
html,
body,
header,
.view {
    height: 100%;
}